<div class="contact-container">
  <h1>Contact Information</h1>
  <div class="contact-item">
    <i class="fas fa-user"></i> <strong>Bheemuni Pavan Kumar</strong>
  </div>

  <div class="contact-item">
    <i class="fas fa-phone-alt"></i> +91-9032456912
  </div>

  <div class="contact-item">
    <i class="fas fa-envelope"></i>
    <a href="mailto:bheemunipavankumar93@gmail.com"
      >bheemunipavankumar93@gmail.com</a
    >
  </div>

  <div class="contact-item">
    <i class="fab fa-linkedin"></i>
    <a
      href="https://linkedin.com/in/pavan-kumar-bheemuni-bb1137256"
      target="_blank"
      >linkedin.com/in/pavankumar</a
    >
  </div>

  <div class="contact-item">
    <i class="fab fa-github"></i>
    <a href="https://github.com/22je0249" target="_blank"
      >github.com/pavankumar</a
    >
  </div>
</div>
